In [1]:
import pandas as pd
import numpy as np
import geopandas

from shapely.geometry import Point

In [4]:
headers=['country', 'mca', 'unLocode', 'name', 'nuts3', 'lon', 'lat']
a = pd.read_excel(r'K:\125000\HAVNEANLOB\LOCODE\Eurostat\extended_unlocode-2018.xlsx',
                  sheet_name='2018 extended list of ports',
                  skiprows=1, header=None, convert_floats=False,
                  usecols=[0,1,2,3,29,33,34], 
                  names=headers)
a.dropna(inplace=True)
b = a[a['country']=='DK']
b.reset_index(drop=True, inplace=True)

In [10]:
# print(b.head(2))
# type(b.lon[0])

b['lon'] = b['lon'].apply(float)
b['lat'] = b['lat'].apply(float)
# print(b.head(2))
# type(b.flon[0])

b.to_csv('statistiske havne dk.csv', index=False)

C:\Users\pot\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\pot\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [12]:
csv = pd.read_csv('statistiske havne dk.csv')

geometry = [Point(xy) for xy in zip(csv.lon, csv.lat)]
crs = {'init': 'epsg:4326'}

dkhavne = geopandas.GeoDataFrame(csv, crs=crs, geometry=geometry)

dkhavne.head()

,country,mca,unLocode,name,nuts3,lon,lat,flon,flat,geometry
0,DK,DK00,DKAAB,Aabenraa,DK032,9.417580,55.035686,9.417580,55.035686,POINT (9.417579651 55.03568649)
1,DK,DK00,DKAAL,Aalborg,DK050,9.916667,57.050000,9.916667,57.050000,POINT (9.916666667000001 57.05)
2,DK,DK00,DKAAR,Arhus,DK042,10.222687,56.141490,10.222687,56.141490,POINT (10.22268716 56.14148960000001)
3,DK,DK00,DKAGH,Agger Havn,DK050,8.250000,56.783333,8.250000,56.783333,POINT (8.25 56.78333333)
4,DK,DK00,DKAGO,Agerso,DK022,11.196606,55.216454,11.196606,55.216454,POINT (11.19660557 55.21645400000001)

In [5]:
%run -i henthavne.py

# crs = {'init': 'epsg:4326'}
# geohavn = geopandas.GeoDataFrame(havn, crs=crs, geometry=havn.omkreds)
havne = hent()

In [6]:
type(havne)

geopandas.geodataframe.GeoDataFrame

In [7]:
print(c.shape)
fullport = geopandas.sjoin(c, havne, how='left', op='within')
print(fullport)

(120, 10)
    country   mca unLocode                                               name  \
0        DK  DK00    DKAAB                                           Aabenraa
1        DK  DK00    DKAAL                                            Aalborg
2        DK  DK00    DKAAR                                              Arhus
3        DK  DK00    DKAGH                                         Agger Havn
4        DK  DK00    DKAGO                                             Agerso
5        DK  DK00    DKANH                                             Anholt
6        DK  DK00    DKARD                                            Arosund
7        DK  DK00    DKARK                                        Aeroskobing
8        DK  DK00    DKARO                                                Aro
9        DK  DK00    DKASH                                     Aggersund Havn
10       DK  DK00    DKASK                                               Asko
11       DK  DK00    DKASN                                             Assens
12       DK  DK00    DKASV                                Asnaesvaerkets Havn
13       DK  DK00    DKAUB                                       Augustenborg
14       DK  DK00    DKAVE                               Avedorevaerkets Havn
15       DK  DK00    DKAVK                                       Avernako/Lyo
16       DK  DK00    DKBDX                                  Bandholm (Maribo)
17       DK  DK00    DKBGO                                               Bago
18       DK  DK00    DKBLB                                           Ballebro
19       DK  DK00    DKBOG                                               Bogo
20       DK  DK00    DKBOS                                             Bojden
21       DK  DK00    DKBRH                                       Branden Havn
22       DK  DK00    DKCPH                                    Kobenhavns Havn
23       DK  DK00    DKDAS                                   Dansk Salts Havn
24       DK  DK00    DKEBJ                                            Esbjerg
25       DK  DK00    DKEBT                                           Ebeltoft
26       DK  DK00    DKEDL                                           Endelave
27       DK  DK00    DKEGN                                             Egense
28       DK  DK00    DKENS                                Enstedvaerkets Havn
29       DK  DK00    DKFAA                                        Faborg Havn
..      ...   ...      ...                                                ...
90       DK  DK00    DKSDO                                        Skaro/Drejo
91       DK  DK00    DKSEO                                             Sejerø
92       DK  DK00    DKSGD                                         Sonderborg
93       DK  DK00    DKSJO                                    Sjaellands Odde
94       DK  DK00    DKSKA                                             Skagen
95       DK  DK00    DKSKB                             Skaerbaekvaerkets Havn
96       DK  DK00    DKSKV                                              Skive
97       DK  DK00    DKSLV                                       Saelvig Havn
98       DK  DK00    DKSNO                                             Stryno
99       DK  DK00    DKSOB                                          Soby Havn
100      DK  DK00    DKSPB                                    Spodsbjerg Havn
101      DK  DK00    DKSSV                             Studstrupvaerkets Havn
102      DK  DK00    DKSTG                             Stigsnaesvaerkets Havn
103      DK  DK00    DKSTN                                          Stigsnaes
104      DK  DK00    DKSTR                                        Struer Havn
105      DK  DK00    DKSTT                                     Statoil Havnen
106      DK  DK00    DKSUE                                           Sundsore
107      DK  DK00    DKSVE                                          Svendborg
108      DK  DK00    DKSVV  Frederiksvaerk Havn (Frederiksvaerk Stalvalsev...
109      DK  DK00    DKTED                                            Thisted
110      DK  DK00    DKTNO                                               Tuno
111      DK  DK00    DKTRS                                               Tars
112      DK  DK00    DKTYB                                           Thyboron
113      DK  DK00    DKUNX                  Masnedo Godningshavn (Uno-X Havn)
114      DK  DK00    DKVEJ                                              Vejle
115      DK  DK00    DKVEN                                          Veno Havn
116      DK  DK00    DKVES                                Vestero Havn, Laeso
117      DK  DK00    DKVNG                                          Vang Havn
118      DK  DK00    DKVOR                                   Vordingborg Havn
119      DK  DK00    DKVSV                          Nordjyllandsvaerkets Havn

     nuts3          lon          lat       flon       flat  \
0    DK032  9.417579651  55.03568649   9.417580  55.035686
1    DK050  9.916666667        57.05   9.916667  57.050000
2    DK042  10.22268716   56.1414896  10.222687  56.141490
3    DK050         8.25  56.78333333   8.250000  56.783333
4    DK022  11.19660557    55.216454  11.196606  55.216454
5    DK042  11.51669985  56.71670139  11.516700  56.716701
6    DK032  9.716666667        55.25   9.716667  55.250000
7    DK031  10.41263193  54.90177587  10.412632  54.901776
8    DK032  9.733333333  55.26666667   9.733333  55.266667
9    DK050    9.2987432   56.9978007   9.298743  56.997801
10   DK022   11.4832677   54.8844437  11.483268  54.884444
11   DK031  9.883293066  55.24966861   9.883293  55.249669
12   DK022  11.08346815  55.66547376  11.083468  55.665474
13   DK032  9.890808105   54.9443779   9.890808  54.944378
14   DK012  12.48409037  55.60289366  12.484090  55.602894
15   DK031  10.26487756  55.03208654  10.264878  55.032087
16   DK022   11.4993197   54.8319987  11.499320  54.831999
17   DK031          9.8         55.3   9.800000  55.300000
18   DK032    9.6806662   54.9955047   9.680666  54.995505
19   DK022        12.05  54.93333333  12.050000  54.933333
20   DK031  10.11661396  55.11651857  10.116614  55.116519
21   DK041  9.033333718  56.79999907   9.033334  56.799999
22   DK011  12.59480388  55.70028297  12.594804  55.700283
23   DK050        10.04        56.68  10.040000  56.680000
24   DK032  8.433333333  55.48333333   8.433333  55.483333
25   DK042  10.67119896  56.19303582  10.671199  56.193036
26   DK042  10.25011348  55.75190578  10.250113  55.751906
27   DK050  10.28333365  56.96666734  10.283334  56.966667
28   DK032    9.4247927   55.0345977   9.424793  55.034598
29   DK031  10.23995368  55.09315445  10.239954  55.093154
..     ...          ...          ...        ...        ...
90   DK031  10.46666667  55.11666667  10.466667  55.116667
91   DK022  11.13333333  55.88333333  11.133333  55.883333
92   DK032  9.806674957  54.91667557   9.806675  54.916676
93   DK022  11.29233408   55.9925819  11.292334  55.992582
94   DK050  10.59227707  57.71912742  10.592277  57.719127
95   DK032  9.616666667  55.51666667   9.616667  55.516667
96   DK041         9.05  56.56666667   9.050000  56.566667
97   DK042  10.56726074  55.86482695  10.567261  55.864827
98   DK031  10.62538247   54.9000192  10.625382  54.900019
99   DK031   10.2590782   54.9427537  10.259078  54.942754
100  DK031   10.8329922   54.9333662  10.832992  54.933366
101  DK042  10.34982569  56.24991454  10.349826  56.249915
102  DK022  11.25434075  55.21714136  11.254341  55.217141
103  DK022        11.25  55.21666667  11.250000  55.216667
104  DK041  8.600000388  56.48329942   8.600000  56.483299
105  DK022        11.09        55.67  11.090000  55.670000
106  DK041  9.185590103   56.6969333   9.185590  56.696933
107  DK031  10.61889721  55.06231404  10.618897  55.062314
108  DK013  12.00914622  55.96327678  12.009146  55.963277
109  DK050    8.6975862   56.9500982   8.697586  56.950098
110  DK042        10.45        55.95  10.450000  55.950000
111  DK022  11.63330001  54.83330149  11.633300  54.833301
112  DK041  8.223470801  56.68199976   8.223471  56.682000
113  DK022  11.91666667           55  11.916667  55.000000
114  DK032  9.526688576  55.70536804   9.526689  55.705368
115  DK041    8.6323942   56.5501007   8.632394  56.550101
116  DK050   10.9206107   57.2969112  10.920611  57.296911
117  DK014   14.7352372   55.2489417  14.735237  55.248942
118  DK022  11.89001239  54.98545885  11.890012  54.985459
119  DK031        10.79        55.19  10.790000  55.190000

                                  geometry  index_right        FOT_ID  \
0          POINT (9.417579651 55.03568649)          NaN           NaN
1          POINT (9.916666666999999 57.05)        418.0  1.105093e+09
2           POINT (10.22268716 56.1414896)        740.0  1.107940e+09
3                 POINT (8.25 56.78333333)          NaN           NaN
4            POINT (11.19660557 55.216454)          NaN           NaN
5          POINT (11.51669985 56.71670139)          NaN           NaN
6                POINT (9.716666667 55.25)          NaN           NaN
7          POINT (10.41263193 54.90177587)          NaN           NaN
8    POINT (9.733333332999999 55.26666667)          NaN           NaN
9     POINT (9.298743200000001 56.9978007)          NaN           NaN
10           POINT (11.4832677 54.8844437)        206.0  1.109650e+09
11         POINT (9.883293066 55.24966861)          NaN           NaN
12         POINT (11.08346815 55.66547376)         56.0  1.114033e+09
13          POINT (9.890808105 54.9443779)          NaN           NaN
14         POINT (12.48409037 55.60289366)          NaN           NaN
15         POINT (10.26487756 55.03208654)          NaN           NaN
16           POINT (11.4993197 54.8319987)          NaN           NaN
17          POINT (9.800000000000001 55.3)          NaN           NaN
18    POINT (9.680666199999999 54.9955047)          NaN           NaN
19               POINT (12.05 54.93333333)          NaN           NaN
20         POINT (10.11661396 55.11651857)          NaN           NaN
21         POINT (9.033333718 56.79999907)          NaN           NaN
22         POINT (12.59480388 55.70028297)        109.0  1.114064e+09
23                     POINT (10.04 56.68)          NaN           NaN
24         POINT (8.433333333 55.48333333)          NaN           NaN
25         POINT (10.67119896 56.19303582)        130.0  1.101960e+09
26         POINT (10.25011348 55.75190578)          NaN           NaN
27         POINT (10.28333365 56.96666734)          NaN           NaN
28    POINT (9.424792699999999 55.0345977)        943.0  1.102004e+09
29         POINT (10.23995368 55.09315445)        288.0  1.114868e+09
..                                     ...          ...           ...
90         POINT (10.46666667 55.11666667)          NaN           NaN
91         POINT (11.13333333 55.88333333)          NaN           NaN
92         POINT (9.806674957 54.91667557)          NaN           NaN
93          POINT (11.29233408 55.9925819)          NaN           NaN
94         POINT (10.59227707 57.71912742)        675.0  1.106387e+09
95   POINT (9.616666667000001 55.51666667)          NaN           NaN
96   POINT (9.050000000000001 56.56666667)          NaN           NaN
97         POINT (10.56726074 55.86482695)          NaN           NaN
98          POINT (10.62538247 54.9000192)          NaN           NaN
99           POINT (10.2590782 54.9427537)        930.0  1.096386e+09
100          POINT (10.8329922 54.9333662)        822.0  1.035937e+09
101        POINT (10.34982569 56.24991454)        132.0  1.101960e+09
102        POINT (11.25434075 55.21714136)          NaN           NaN
103              POINT (11.25 55.21666667)          NaN           NaN
104        POINT (8.600000388 56.48329942)          NaN           NaN
105                    POINT (11.09 55.67)        756.0  1.114033e+09
106   POINT (9.185590102999999 56.6969333)          NaN           NaN
107        POINT (10.61889721 55.06231404)        754.0  1.102010e+09
108        POINT (12.00914622 55.96327678)          NaN           NaN
109           POINT (8.6975862 56.9500982)        152.0  1.101932e+09
110                    POINT (10.45 55.95)          NaN           NaN
111        POINT (11.63330001 54.83330149)          NaN           NaN
112  POINT (8.223470800999999 56.68199976)        145.0  1.101927e+09
113                 POINT (11.91666667 55)          NaN           NaN
114        POINT (9.526688576 55.70536804)          NaN           NaN
115           POINT (8.6323942 56.5501007)          NaN           NaN
116          POINT (10.9206107 57.2969112)        469.0  1.105004e+09
117          POINT (14.7352372 55.2489417)        216.0  1.068305e+09
118        POINT (11.89001239 54.98545885)          NaN           NaN
119                    POINT (10.79 55.19)          NaN           NaN

     TIMEOF_CRE  TIMEOF_PUB TIMEOF_REV  TIMEOF_EXP  \
0           NaN         NaN        NaN         NaN
1    2017-01-30  2017-01-30       None  2018-08-30
2    2017-05-02  2017-05-02       None  2018-08-30
3           NaN         NaN        NaN         NaN
4           NaN         NaN        NaN         NaN
5           NaN         NaN        NaN         NaN
6           NaN         NaN        NaN         NaN
7           NaN         NaN        NaN         NaN
8           NaN         NaN        NaN         NaN
9           NaN         NaN        NaN         NaN
10   2017-08-29  2017-08-29       None  2018-08-30
11          NaN         NaN        NaN         NaN
12   2017-12-18  2017-12-18       None  2018-08-30
13          NaN         NaN        NaN         NaN
14          NaN         NaN        NaN         NaN
15          NaN         NaN        NaN         NaN
16          NaN         NaN        NaN         NaN
17          NaN         NaN        NaN         NaN
18          NaN         NaN        NaN         NaN
19          NaN         NaN        NaN         NaN
20          NaN         NaN        NaN         NaN
21          NaN         NaN        NaN         NaN
22   2017-12-20  2017-12-20       None  2018-08-30
23          NaN         NaN        NaN         NaN
24          NaN         NaN        NaN         NaN
25   2016-11-09  2016-11-09       None  2018-08-30
26          NaN         NaN        NaN         NaN
27          NaN         NaN        NaN         NaN
28   2017-02-27  2017-02-27       None  2018-08-30
29   2018-05-30  2018-05-30       None  2018-08-30
..          ...         ...        ...         ...
90          NaN         NaN        NaN         NaN
91          NaN         NaN        NaN         NaN
92          NaN         NaN        NaN         NaN
93          NaN         NaN        NaN         NaN
94   2017-02-16  2017-02-16       None  2018-08-30
95          NaN         NaN        NaN         NaN
96          NaN         NaN        NaN         NaN
97          NaN         NaN        NaN         NaN
98          NaN         NaN        NaN         NaN
99   2018-07-27  2018-07-27       None  2018-08-30
100  2014-07-11  2014-07-11       None  2018-08-30
101  2016-11-09  2016-11-09       None  2018-08-30
102         NaN         NaN        NaN         NaN
103         NaN         NaN        NaN         NaN
104         NaN         NaN        NaN         NaN
105  2018-03-06  2018-03-06       None  2018-08-30
106         NaN         NaN        NaN         NaN
107  2016-11-09  2016-11-09       None  2018-08-30
108         NaN         NaN        NaN         NaN
109  2016-11-09  2016-11-09       None  2018-08-30
110         NaN         NaN        NaN         NaN
111         NaN         NaN        NaN         NaN
112  2016-11-08  2016-11-08       None  2018-08-30
113         NaN         NaN        NaN         NaN
114         NaN         NaN        NaN         NaN
115         NaN         NaN        NaN         NaN
116  2017-01-27  2017-01-27       None  2018-08-30
117  2014-08-29  2014-08-29       None  2018-08-30
118         NaN         NaN        NaN         NaN
119         NaN         NaN        NaN         NaN

                                               omkreds
0                                                  NaN
1    POLYGON ((9.974938783724316 57.04754162358687,...
2    POLYGON ((10.25508587047349 56.13691690791858,...
3                                                  NaN
4                                                  NaN
5                                                  NaN
6                                                  NaN
7                                                  NaN
8                                                  NaN
9                                                  NaN
10   POLYGON ((11.48364780202102 54.88395927986966,...
11                                                 NaN
12   POLYGON ((11.10359438268662 55.66113710583063,...
13                                                 NaN
14                                                 NaN
15                                                 NaN
16                                                 NaN
17                                                 NaN
18                                                 NaN
19                                                 NaN
20                                                 NaN
21                                                 NaN
22   POLYGON ((12.60034929693319 55.700024440046, 1...
23                                                 NaN
24                                                 NaN
25   POLYGON ((10.67704115058064 56.18948612785794,...
26                                                 NaN
27                                                 NaN
28   POLYGON ((9.430220427629045 55.0331022040215, ...
29   POLYGON ((10.24379719898019 55.09227465557876,...
..                                                 ...
90                                                 NaN
91                                                 NaN
92                                                 NaN
93                                                 NaN
94   POLYGON ((10.60731146125262 57.71096220399959,...
95                                                 NaN
96                                                 NaN
97                                                 NaN
98                                                 NaN
99   POLYGON ((10.26226795102017 54.94134648649869,...
100  POLYGON ((10.83458863625847 54.93191865256533,...
101  POLYGON ((10.35297227577606 56.24301278623988,...
102                                                NaN
103                                                NaN
104                                                NaN
105  POLYGON ((11.10289905141196 55.66800936321237,...
106                                                NaN
107  POLYGON ((10.62379891938132 55.05376269281405,...
108                                                NaN
109  POLYGON ((8.704779089750597 56.94984098967326,...
110                                                NaN
111                                                NaN
112  POLYGON ((8.231364094891626 56.6744737263715, ...
113                                                NaN
114                                                NaN
115                                                NaN
116  POLYGON ((10.92328839753571 57.29504551411674,...
117  POLYGON ((14.73695944642721 55.24820961247785,...
118                                                NaN
119                                                NaN

[123 rows x 17 columns]

In [22]:
test = fullport.dropna(subset=['omkreds'])
test.shape
test2 = test.loc[:,['country', 'mca', 'unLocode', 'name', 'nuts3', 'omkreds']]
test2.to_pickle('havnegrænse.pkl')